.loading {
	position: absolute;
	top: 0;
	left: 0;
	animation: load 600ms ease-in;
}

.loading::after {
	display: none;
}

@keyframes load {
	from {
		background-color: black;
	}
	to {
		background-color: rgba(0, 0, 0, 0);
	}
}
