:root {
	--bg0: #E6E6E6;
	--bg1: #D6D6D6;
	--bg2: #C6C6C6;
	--bg3: #B6B6B6;
	--bg4: #A6A6A6;
	--fg0: #000000;
	--fg1: #030303;
	--fg2: #131313;
	--fg3: #232323;
	--fg4: #333333;
	--link-color: #70bcff;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

/* ELEMENTS */
html {
	font-size: 16px;
}

body {
	color: #000;
	background: var(--bg);
}

main {
	display: flex;
	padding: 20px;
	flex-direction: column;
	align-items: flex-start;
	gap: 18px;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 22px;
}

a,
p {
	font-size: 20px
}

a {
	text-decoration: none;
	color: var(--link-color);
}

/* LINES */
.vertical-line {
	height: 100%;
	width: 1px;
	background-color: #2b2b2b
}

.horizontal-line {
	height: 1px;
	width: 100%;
	background-color: #2b2b2b
}

/* TEXT */
.anchor {
	color: var(--fg0);
}

/* VISIBILITY */
.none {
	display: none;
}

/* CONTAINERS */
.container {
	padding: 10px;
	gap: 10px;
}

.p20h {
	padding-left: 20px;
	padding-right: 20px;
}

/* FLEX RULES */
.center {
	align-items: center;
}

.tucked {
	justify-content: center;
}

.spread {
	justify-content: space-between;
}

.spread-even {
	justify-content: space-evenly;
}

.spread-around {
	justify-content: space-around;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

/* ACTIVES */
.button {
	padding: 6px 20px;
	border: 1px solid #515050;
	background: linear-gradient(180deg, #F8F8F8 0%, #D9D9D9 100%);
	font-size: 15px;
	cursor: pointer !important;
}

.button:hover {
	cursor: pointer;
	background: linear-gradient(180deg, #ececec 0%, #B5B5B5 100%);
}
