* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

body {
	color: #000;
	background: #E6E6E6;
}

main {
	display: flex;
	padding: 20px;
	flex-direction: column;
	align-items: flex-start;
	gap: 18px;
}

a {
	text-decoration: none;
	color: #70bcff;
}

.vertical-line {
	height: 100%;
	width: 1px;
	background-color: #2b2b2b
}

.horizontal-line {
	height: 1px;
	width: 100%;
	background-color: #2b2b2b
}

.btn {
	cursor: pointer !important;
}

.h2 {
	font-size: 24px;
	font-weight: 700;
	color: #000;
}

.button {
	padding: 6px 20px;
	border: 1px solid #515050;
	background: linear-gradient(180deg, #F8F8F8 0%, #D9D9D9 100%);
	font-size: 15px;
}

.button:hover {
	cursor: pointer;
	background: linear-gradient(180deg, #ececec 0%, #B5B5B5 100%);
}
