h1>span {
	font-size: 26px;
	font-weight: 400;
}

h1 {
	display: flex;
	place-items: center;
	gap: 10px;
}

.addItems {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1 0 0;
	align-self: stretch;

	border: 1px solid #8E8E8E;
	background: white;
}

.goBack svg path,
.goBack {
	display: flex;
	flex-direction: row;
	place-items: center;
	gap: 10px;
	position: absolute;
	top: 14rem;
	left: 4rem;
	font-size: 22px;
	color: black !important;
	transition: 200ms;
}

.goBack:hover svg path,
.goBack:hover {
	color: #70bcff !important;
	fill: #70bcff;
	stroke: #70bcff;
	transition: 200ms;
}

#mainContent {
	display: flex;
	place-content: center;
	place-items: center;
	width: 100%;
	padding: 44px;
	gap: 110px;
}

#newItemInfoContainer {
	gap: 38px;
}

.newItemContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 6px;
	width: 640px;
}

.newItemContainer>h2 {
	color: #000;
	text-align: center;
	font-family: Poppins;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.inputFieldWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
}

.inputFieldWrapper_input {
	padding: 6px 20px;
	width: 100%;
	resize: vertical;
}

.inputFieldWrapper>textarea {
	height: 200px;
}

#ingredientsTable {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 32rem;
	overflow-y: scroll;
}

#ingredientsTable,
.tableRow,
.tableCell {
	outline: 1px solid #8E8E8E;
}

.tableRow {
	display: flex;
	align-self: stretch;

	background: #F8F8F8;
}


.tableCell {
	display: flex;
	flex-direction: row;
	place-content: center;
	place-items: center;
	padding: 4px 12px;

	background-color: #FAFAFA;
}

.tableCell:nth-child(1) {
	width: 13rem;
	place-content: start;
}

.tableCell:nth-child(2) {
	width: 9rem;
}

.tableCell:nth-child(3) {
	width: 5.5rem;
	place-content: space-between;
}

.tableCell:nth-child(4) {
	flex: 1;
}

.tableCell:last-child {
	gap: 4px;
}

.tableCell>p,
.tableCell>span {
	color: #2B2B2B;
	text-align: center;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.columnsName {
	display: flex;

	background: linear-gradient(180deg, #FFF 0%, #F2F2F2 100%);
}

.columnsName>.tableCell {
	outline: none;
	background: none;
}

.columnsName>.tableCell>p {
	font-weight: 500;
	font-size: 16px;
}

.inputWrapper {
	display: flex;
	gap: 8px;
}

.input {
	font-size: 16px;
	padding: 6px 20px;
	width: 100%;

	border: 1px solid #515050;
	background: #FFF;
}

.input:focus {
	outline: 2px solid lightblue;
}
