h1>span {
	font-size: 26px;
	font-weight: 400;
}

h1 {
	display: flex;
	place-items: center;
	gap: 10px;
}

#main_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: stretch;

	border: 1px solid #8E8E8E;
	background: white;
}

#go_back {
	display: flex;
	flex-direction: row;
	place-items: center;
	align-self: stretch;
	gap: 10px;
	top: 14rem;
	left: 4rem;
	font-size: 22px;
	color: black !important;
	transition: 200ms;
}

.go-back:hover svg path,
.go-back:hover {
	color: #70bcff !important;
	fill: #70bcff;
	stroke: #70bcff;
	transition: 200ms;
}

#content_wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}

#new_item_container {
	display: flex;
	flex-direction: column;
	gap: 38px;
}

.input_field_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
}

.new_item_input {
	padding: 6px 20px;
	width: 100%;
	resize: vertical;
}

#item_description::-webkit-scrollbar {
	display: none;
}

#item_description {
	height: 200px;
	padding: 10px;
}

#ingredients_container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 6px;
	width: 640px;
}

#ingredients_container>h2 {
	color: #000;
	text-align: center;
	font-family: Poppins;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#ingredients_table::-webkit-scrollbar {
	display: none;
}

#ingredients_table {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 32rem;
	width: 100%;
	overflow-y: scroll;
}

#ingredients_table,
.table_row,
.table_cell {
	outline: 1px solid #8E8E8E;
}

.table_row {
	display: flex;
	align-self: stretch;

	background: #F8F8F8;
}


.table_cell {
	display: flex;
	flex-direction: row;
	place-content: center;
	place-items: center;
	padding: 4px 12px;

	background-color: #FAFAFA;
}

.table_cell>input {
	text-align: center;
	border: none;
	background: none;
	width: 100%;
	padding: 4px 12px;
}

.table_cell:nth-child(1) {
	flex: 1;
	place-content: start;
}

.table_cell:nth-child(2) {
	flex: 1;
}

.table_cell:nth-child(3) {
	flex: 1;
	place-content: space-between;
}

.table_cell:nth-child(4) {
	flex: 1;
}

.table_cell>p {
	color: #2B2B2B;
	text-align: center;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 100%;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.columns_name {
	display: flex;

	background: linear-gradient(180deg, #FFF 0%, #F2F2F2 100%);
}

.columns_name>.table_cell {
	outline: none;
	background: none;
}

.columns_name>.table_cell>p {
	font-weight: 500;
	font-size: 16px;
}

.input_wrapper {
	display: flex;
	gap: 8px;
}

.input {
	font-size: 16px;
	padding: 6px 20px;
	width: 100%;

	border: 1px solid #515050;
	background: #FFF;
}

.input:focus {
	outline: 2px solid lightblue;
}
