h2 {
	color: #AEAEAE;
	text-align: center;
	font-family: Poppins;
	font-size: 44px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	width: 538px;
}

.mainContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 18px;
	align-self: stretch;
	transform: translateY(50%);
}
