.searchContainer,
.header {
    display: flex;
    padding: 14px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    border: 1px solid #8E8E8E;
    background: #FAFAFA;
}

h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}

.options {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.optionsContainers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.optionsContainers>label {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}

.optionsContainers>input,
.optionsContainers>select {
    display: flex;
    padding: 6px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #515050;
    color: #515050;
    background: #FFF;
}

.subheader {
    display: flex;
    padding: 8px 18px;
    align-items: flex-start;
    align-self: stretch;

    border-bottom: 1px solid #8E8E8E;
    background: linear-gradient(180deg, #FFF 0%, #F2F2F2 100%);
}

.subheader>h2 {
    color: #2B2B2B;
    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
